* {
    margin: 0;
    border: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center-content {
    justify-content: center;
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.bordered {
    border: 1px solid black;
    box-sizing: border-box;
}

.absolute {
    position: absolute;
}

.group {
    width: 100vw;
    min-height: 100vh;
}

/* -- -- */
/* -- -- */
/* -- -- */

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    letter-spacing: .3rem;
}

/* -- -- */
/* -- DOTS -- */
/* -- -- */

.dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: width 1s 0.25s, height 1s .25s;
}


.dot-row {
    width: 100vw;
}

.lower {
    bottom: 30%;
    right: 10%;
}

.upper {
    top: 30%;
    left: 10%;
}

.dot:hover {
    width: 100px;
    height: 100px;
}

.black {
    background-color: black;
}

.purple {
    background-color: purple;
}

.blue {
    background-color: blue;
}